<?xml version="1.0" encoding="UTF-8"?>
<!--
  ATLAS secure bootstrapper authoring.

  Build with:
    wix build Bundle.wxs -ext WixToolset.BootstrapperApplications.wixext -ext WixToolset.Util.wixext -arch x64 -o ATLAS-Airfare-Allowance-Setup.exe

  Required preprocessor variables:
    AppMsi          Full path to the ATLAS application MSI.
    DeployScript    Full path to deploy.ps1.
    RunnerExe       Full path to AtlasBootstrapperRunner.exe.
    SqlExpressSetupExe Optional local SQL Express setup path. SQL Express is not embedded; deploy.ps1 downloads it from Microsoft if needed.
-->
<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
  xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

  <?ifndef ProductVersion ?>
    <?define ProductVersion = "2.3.40" ?>
  <?endif ?>
  <?ifdef UpdateOnly ?>
    <?define BundleName = "ATLAS Airfare Allowance Update Patch" ?>
    <?define UpgradeCode = "0bf6ea0e-3729-497f-b612-f02829fc6058" ?>
    <?define CacheFlavor = "UpdatePatch" ?>
    <?define PreflightPackageId = "AtlasUpdatePreflight" ?>
    <?define ApplicationPackageId = "AtlasUpdateApplication" ?>
    <?define ConfigurePackageId = "AtlasUpdateConfigure" ?>
    <?define TroubleshootPackageId = "AtlasUpdateTroubleshoot" ?>
    <?define ApplicationDisplayName = "Copying patched ATLAS application files" ?>
    <?define ConfigureDisplayName = "Restarting ATLAS and verifying update" ?>
    <?define PreflightVital = "yes" ?>
    <?define ConfigureVital = "yes" ?>
    <?define DisableRollback = "no" ?>
    <?define AtlasPreflightInstallArgs = "Preflight -Port &quot;[ATLASPORT]&quot; -InstallRoot &quot;[ATLASINSTALLROOT]&quot; -DataRoot &quot;[ATLASDATAROOT]&quot;" ?>
    <?define AtlasPreflightRepairArgs = "Preflight -Port &quot;[ATLASPORT]&quot; -InstallRoot &quot;[ATLASINSTALLROOT]&quot; -DataRoot &quot;[ATLASDATAROOT]&quot;" ?>
    <?define AtlasConfigureInstallArgs = "UpdateOnlyFinalize -Port &quot;[ATLASPORT]&quot; -InstallRoot &quot;[ATLASINSTALLROOT]&quot; -DataRoot &quot;[ATLASDATAROOT]&quot;" ?>
    <?define AtlasConfigureRepairArgs = "UpdateOnlyFinalize -Port &quot;[ATLASPORT]&quot; -InstallRoot &quot;[ATLASINSTALLROOT]&quot; -DataRoot &quot;[ATLASDATAROOT]&quot;" ?>
  <?else ?>
    <?define BundleName = "ATLAS Airfare Allowance" ?>
    <?define UpgradeCode = "9dfb0a1f-8dc4-42f1-86eb-a53f40c898f1" ?>
    <?define CacheFlavor = "Setup" ?>
    <?define PreflightPackageId = "AtlasPreflight" ?>
    <?define ApplicationPackageId = "AtlasApplication" ?>
    <?define ConfigurePackageId = "AtlasConfigure" ?>
    <?define TroubleshootPackageId = "AtlasTroubleshoot" ?>
    <?define ApplicationDisplayName = "Installing ATLAS application files" ?>
    <?define ConfigureDisplayName = "Configuring database and starting ATLAS" ?>
    <?define PreflightVital = "yes" ?>
    <?define ConfigureVital = "yes" ?>
    <?define DisableRollback = "yes" ?>
    <?define AtlasPreflightInstallArgs = "Preflight -Port &quot;[ATLASPORT]&quot; -InstallRoot &quot;[ATLASINSTALLROOT]&quot; -DataRoot &quot;[ATLASDATAROOT]&quot;" ?>
    <?define AtlasPreflightRepairArgs = "Preflight -Port &quot;[ATLASPORT]&quot; -InstallRoot &quot;[ATLASINSTALLROOT]&quot; -DataRoot &quot;[ATLASDATAROOT]&quot;" ?>
    <?define AtlasConfigureInstallArgs = "Install -Port &quot;[ATLASPORT]&quot; -SqlPort &quot;[ATLASDBPORT]&quot; -SqlInstance &quot;[SQLINSTANCE]&quot; -SqlSaPassword &quot;[SQLSAPASSWORD]&quot; -InstallRoot &quot;[ATLASINSTALLROOT]&quot; -DataRoot &quot;[ATLASDATAROOT]&quot; -ConfigPath &quot;[ATLASDATAROOT]\bootstrapper-config.json&quot;" ?>
    <?define AtlasConfigureRepairArgs = "Repair -Port &quot;[ATLASPORT]&quot; -SqlPort &quot;[ATLASDBPORT]&quot; -SqlInstance &quot;[SQLINSTANCE]&quot; -SqlSaPassword &quot;[SQLSAPASSWORD]&quot; -InstallRoot &quot;[ATLASINSTALLROOT]&quot; -DataRoot &quot;[ATLASDATAROOT]&quot; -ConfigPath &quot;[ATLASDATAROOT]\bootstrapper-config.json&quot;" ?>
  <?endif ?>

  <Bundle
    Name="$(var.BundleName)"
    Manufacturer="ATLAS"
    Version="$(var.ProductVersion)"
    UpgradeCode="$(var.UpgradeCode)"
    Compressed="yes">

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
        Theme="hyperlinkLicense"
        LicenseUrl=""
        SuppressOptionsUI="no"
        SuppressRepair="no" />
    </BootstrapperApplication>

    <?ifdef UpdateOnly ?>
    <bal:Condition
      Message="ATLAS Airfare Allowance is not installed. Use the full installer on new machines."
      Condition="ATLASAPPINSTALLED OR WixBundleInstalled" />
    <?endif ?>

    <Variable Name="ATLASPORT" Value="3355" bal:Overridable="yes" />
    <Variable Name="INSTALLSQLEXPRESS" Value="1" bal:Overridable="yes" />
    <Variable Name="SQLINSTANCE" Value="ATLAS" bal:Overridable="yes" />
    <Variable Name="SQLSAPASSWORD" Value="" bal:Overridable="yes" Hidden="yes" />
    <Variable Name="ATLASINSTALLROOT" Value="C:\Program Files\ATLAS Airfare Allowance" bal:Overridable="yes" />
    <Variable Name="ATLASDATAROOT" Value="C:\ProgramData\ATLAS Airfare Allowance" bal:Overridable="yes" />
    <Variable Name="ATLASDBSERVER" Value="127.0.0.1" bal:Overridable="yes" />
    <Variable Name="ATLASDBPORT" Value="1433" bal:Overridable="yes" />
    <Variable Name="ATLASDBNAME" Value="Atlasairfare010" bal:Overridable="yes" />
    <Variable Name="ATLASDBUSER" Value="sa" bal:Overridable="yes" />

    <util:RegistrySearch
      Id="DetectAtlasApp"
      Root="HKLM"
      Key="SOFTWARE\ATLAS Airfare Allowance"
      Variable="ATLASAPPINSTALLED"
      Result="exists" />

    <util:RegistrySearch
      Id="DetectAtlasInstallRoot"
      Root="HKLM"
      Key="SOFTWARE\ATLAS Airfare Allowance"
      Value="INSTALLROOT"
      Variable="ATLASINSTALLROOT"
      Result="value" />

    <util:RegistrySearch
      Id="DetectAtlasDataRoot"
      Root="HKLM"
      Key="SOFTWARE\ATLAS Airfare Allowance"
      Value="DATAROOT"
      Variable="ATLASDATAROOT"
      Result="value" />

    <util:RegistrySearch
      Id="DetectAtlasPort"
      Root="HKLM"
      Key="SOFTWARE\ATLAS Airfare Allowance"
      Value="ATLASPORT"
      Variable="ATLASPORT"
      Result="value" />

    <util:RegistrySearch
      Id="DetectAtlasDbServer"
      Root="HKLM"
      Key="SOFTWARE\ATLAS Airfare Allowance"
      Value="DB_SERVER"
      Variable="ATLASDBSERVER"
      Result="value" />

    <util:RegistrySearch
      Id="DetectAtlasDbPort"
      Root="HKLM"
      Key="SOFTWARE\ATLAS Airfare Allowance"
      Value="DB_PORT"
      Variable="ATLASDBPORT"
      Result="value" />

    <util:RegistrySearch
      Id="DetectAtlasDbName"
      Root="HKLM"
      Key="SOFTWARE\ATLAS Airfare Allowance"
      Value="DB_NAME"
      Variable="ATLASDBNAME"
      Result="value" />

    <util:RegistrySearch
      Id="DetectAtlasDbUser"
      Root="HKLM"
      Key="SOFTWARE\ATLAS Airfare Allowance"
      Value="DB_USER"
      Variable="ATLASDBUSER"
      Result="value" />

    <util:RegistrySearch
      Id="DetectAnySqlServer"
      Root="HKLM"
      Key="SOFTWARE\Microsoft\Microsoft SQL Server\Instance Names\SQL"
      Variable="SQLSERVERINSTALLED"
      Result="exists" />

    <Chain DisableRollback="$(var.DisableRollback)" DisableSystemRestore="no" ParallelCache="yes">
      <ExePackage
        Id="$(var.PreflightPackageId)"
        CacheId="ATLAS_$(var.CacheFlavor)_Preflight_PowerShell_$(var.ProductVersion)"
        DisplayName="ATLAS pre-install validation"
        SourceFile="$(var.RunnerExe)"
        Name="tools\atlas-preflight-runner.exe"
        PerMachine="yes"
        Vital="$(var.PreflightVital)"
        Permanent="yes"
        DetectCondition="0"
        InstallArguments="$(var.AtlasPreflightInstallArgs)"
        RepairArguments="$(var.AtlasPreflightRepairArgs)">
        <Payload SourceFile="$(var.DeployScript)" Name="tools\preflight-deploy.ps1" />
      </ExePackage>

      <MsiPackage
        Id="$(var.ApplicationPackageId)"
        CacheId="ATLAS_$(var.CacheFlavor)_Application_MSI_$(var.ProductVersion)"
        DisplayName="$(var.ApplicationDisplayName)"
        SourceFile="$(var.AppMsi)"
        Compressed="yes"
        Vital="yes"
        Permanent="no">
        <MsiProperty Name="INSTALLFOLDER" Value="[ATLASINSTALLROOT]" />
        <MsiProperty Name="ATLASPORT" Value="[ATLASPORT]" />
        <MsiProperty Name="DB_SERVER" Value="[ATLASDBSERVER]" />
        <MsiProperty Name="DB_PORT" Value="[ATLASDBPORT]" />
        <MsiProperty Name="DB_NAME" Value="[ATLASDBNAME]" />
        <MsiProperty Name="DB_USER" Value="[ATLASDBUSER]" />
        <MsiProperty Name="DB_PASSWORD" Value="[SQLSAPASSWORD]" />
        <MsiProperty Name="DB_ODBC_DRIVER" Value="ODBC Driver 18 for SQL Server" />
        <MsiProperty Name="DB_AUTO_SETUP" Value="1" />
      </MsiPackage>

      <ExePackage
        Id="$(var.ConfigurePackageId)"
        CacheId="ATLAS_$(var.CacheFlavor)_Configure_PowerShell_$(var.ProductVersion)"
        DisplayName="$(var.ConfigureDisplayName)"
        SourceFile="$(var.RunnerExe)"
        Name="tools\atlas-configure-runner.exe"
        PerMachine="yes"
        Vital="$(var.ConfigureVital)"
        Permanent="yes"
        DetectCondition="0"
        InstallArguments="$(var.AtlasConfigureInstallArgs)"
        RepairArguments="$(var.AtlasConfigureRepairArgs)"
        UninstallArguments="Backup -Port &quot;[ATLASPORT]&quot; -InstallRoot &quot;[ATLASINSTALLROOT]&quot; -DataRoot &quot;[ATLASDATAROOT]&quot;">
        <Payload SourceFile="$(var.DeployScript)" Name="tools\configure-deploy.ps1" />
      </ExePackage>

      <ExePackage
        Id="$(var.TroubleshootPackageId)"
        CacheId="ATLAS_$(var.CacheFlavor)_Troubleshoot_PowerShell_$(var.ProductVersion)"
        DisplayName="ATLAS troubleshooter"
        SourceFile="$(var.RunnerExe)"
        Name="tools\atlas-troubleshoot-runner.exe"
        PerMachine="yes"
        Vital="no"
        Permanent="yes"
        DetectCondition="0"
        InstallCondition="0"
        RepairArguments="Troubleshoot -Port &quot;[ATLASPORT]&quot; -SqlInstance &quot;[SQLINSTANCE]&quot; -InstallRoot &quot;[ATLASINSTALLROOT]&quot; -DataRoot &quot;[ATLASDATAROOT]&quot;">
        <Payload SourceFile="$(var.DeployScript)" Name="tools\troubleshoot-deploy.ps1" />
      </ExePackage>
    </Chain>
  </Bundle>
</Wix>
